<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appcomercial.parquesanto.com.ec.appcomercial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ec.com.parquesanto.appcomercial.PresentacionActivity" />
        <activity android:name=".Presentacion" />
        <activity android:name=".Productos" />
        <activity android:name=".Galeria" />
        <activity android:name=".Vista360" />
        <activity android:name=".Parcelas" />
        <activity android:name=".Bovedas" />
        <activity android:name=".Mausoleos" />
        <activity android:name=".ServiciosF" />
        <activity android:name=".Producto1" />
    </application>

</manifest>